/** COPY THIS INTO SIDEBERY CUSTOM CSS EDITOR **/

.Tab {
	flex-grow: 1;
}

.PinnedTabsBar {
	display: flex;
	& > .tab-wrapper {
		display: flex;
		flex-grow: 1;
	}
}

body {
	background-color: rgb(6, 8, 31);
}

#root {
	--frame-bg: rgb(6, 8, 31) !important;
	--toolbar-bg: rgb(6, 8, 31) !important;
	background-color: rgb(6, 8, 31);
}

/* for vertical pane nav */

#root {
  --nav-btn-width: 24px;
  --nav-btn-height: 24px;
  --name-font-size: .8rem;
  --count-font-size: .65rem;
}

.NavigationBar .main-items .nav-item[data-class="panel"] {
  display: flex;
  flex-direction: column-reverse;
  padding: 6px 0;
  height: auto;
}

.NavigationBar .main-items .nav-item[data-class="panel"] .badge {
	top: 1px;
  left: auto;
  right: 1px;
}

.NavigationBar .main-items .nav-item[data-class="panel"] .icon,
.NavigationBar .main-items .nav-item[data-class="panel"] .bookmarks-badge-icon {
	display: none;
}

.NavigationBar .main-items .nav-item .bookmarks-badge-icon {
	top: auto;
	left: auto;
	bottom: 3px;
	right: 1px;
}

.NavigationBar .main-items .nav-item .len {
  position: relative;
  font-size: var(--count-font-size);
  writing-mode: sideways-lr;
  text-orientation: mixed;
  background-color: transparent;
  padding: 0;
  margin: 2px 2px 1px 0;
  top: 0;
  right: 0;
	color: var(--container-fg, var(--nav-btn-fg));
}
.NavigationBar .main-items .nav-item .len:before {
  content: ": ";
  font-size: var(--name-font-size);
}

.NavigationBar .main-items .nav-item[data-class="panel"] .name-box {
  position: relative;
  display: block;
  padding: 0;
  margin: 0 2px 0px 0;
  font-size: var(--name-font-size);
  color: var(--container-fg, var(--nav-btn-fg));
  writing-mode: sideways-lr;
  text-orientation: mixed;
}
