/* Import your desired components first */
@import url(hacks/button_effect_scale_onclick.css);
@import url(hacks/hide_toolbox_top_bottom_borders.css);
@import url(hacks/minimal_text_fields.css);
@import url(hacks/minimal_toolbarbuttons.css);
/* @import url(hacks/custom_menupopup_check_icons.css);  */

/*Import hacks */
@import url(hacks/urlHighlight.css);
/* @import url(hacks/sideberyModsLEFT.css);  */
/* @import url(hacks/menuShow.css);  */
@import url(hacks/darkContextMenu.css);

:root {
    --tabs-border-color: transparent !important;
    --lwt-accent-color: rgb(6, 8, 31) !important;
}

#urlbar,
#searchbar .searchbar-textbox {
    font-family: 'Cascadia Code' !important;
}

#TabsToolbar,
#sidebar-header,
#sidebar-splitter {
    display: none;
}

/* note: if your minimize, exit, etc menu is gone, press alt, right click the menu bar and check mark it */

/* arc-like */

:root[tabsintitlebar] {
    --uc-toolbar-height: 40px;
}

:root[tabsintitlebar][uidensity="compact"] {
    --uc-toolbar-height: 32px
}

#TabsToolbar {
    visibility: collapse !important
}

:root[sizemode="fullscreen"] #TabsToolbar> :is(#window-controls, .titlebar-buttonbox-container) {
    visibility: visible !important;
    z-index: 2;
}

:root:not([inFullscreen]) #nav-bar {
    margin-top: calc(0px - var(--uc-toolbar-height, 0px));
}

:root[tabsintitlebar] #toolbar-menubar[autohide="true"] {
    min-height: unset !important;
    height: var(--uc-toolbar-height, 0px) !important;
    position: relative;
}

#toolbar-menubar[autohide="false"] {
    margin-bottom: var(--uc-toolbar-height, 0px)
}

:root[tabsintitlebar] #toolbar-menubar[autohide="true"] #main-menubar {
    flex-grow: 1;
    align-items: stretch;
    background-color: var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor);
    background-clip: padding-box;
    border-right: 30px solid transparent;
    border-image: linear-gradient(to left, transparent, var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor) 30px) 20 / 30px
}

/* hbox.titlebar-buttonbox-container:nth-child(3) > hbox:nth-child(1) > toolbarbutton:nth-child(4) {
    display: none;
} */

hbox.titlebar-buttonbox-container:nth-child(6)>hbox:nth-child(1)>toolbarbutton:nth-child(4) {
    display: none;
}

#toolbar-menubar:not([inactive]) {
    z-index: 2
}

#toolbar-menubar[autohide="true"][inactive]>#menubar-items {
    opacity: 0;
    pointer-events: none;
    margin-left: var(--uc-window-drag-space-pre, 0px)
}

#appcontent>#tabbrowser-tabbox>#tabbrowser-tabpanels>.deck-selected>.browserContainer>.browserStack>browser {
    border-radius: 10px;
    margin: 10px;
}

.browserStack {
    background: var(--lwt-accent-color);
}

.browserContainer {
    background-color: var(--lwt-accent-color);
    background-position: right top, var(--lwt-background-alignment);
}

#sidebar-button {
    margin-left: 10px;
}

#sidebar-box {
    min-width: 250px;
    max-width: 250px;
    min-height: unset;
    max-height: unset;
    border-right: none;
}

#sidebar-splitter {
    display: none;
}

#PersonalToolbar {
    display: none;
}

#navigator-toolbox {
    border-bottom: none !important;
}

#sidebar-header {
    display: none;
}

/* colour fixes */

#navigator-toolbox>.browser-toolbar:not(.titlebar-color)#nav-bar {
    background-color: var(--lwt-accent-color) !important;
}

/* that little link thing bottom left */

#statuspanel-label {
    background-color: var(--lwt-accent-color) !important;
    border: none !important;
    border-radius: 0 10px 0 0 !important;
    translate: 10px -10px !important;
    padding: 3px 5px 0 0 !important;
}
